*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}
.heading{
    text-align: center;
    text-transform: uppercase;
   
}
.heading h1{
    font-size: 50px;
    word-spacing: 8px;
    letter-spacing: 2px;
}
h2{
    text-transform: capitalize;
    font-size: 40px;
    color: brown;
    font-weight: 700;
}
