*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
    background-color: brown;
    padding: 10px ;
    margin-bottom: 50px;
}
.div1{
    background-color: burlywood;
}
.div2{
    background-color: cadetblue;
}
.div3{
    background-color: crimson;
}

.main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 500px;
    grid-column-gap: 30px;
    text-align: center;
    margin-bottom: 100px;
}
button{
    background-color: darkblue;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    margin: 20px 0px;
    color: white;
    border: 3px solid black;
    font-size: 15px;

}
button:hover{
    background-color: black;
    cursor: pointer;
}
p{
    padding: 20px 40px;
    font-size: 20px;
    color: darkgreen;
    letter-spacing: 1px;
}

@media(min-width:1200px){
   body{
       background-color:rgb(167, 149, 117);
   } 
}


@media(max-width:1199){
    body{
        background-color: violet;
    }
    h1{
        font-size: 35px;
    }
    .main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 500px 500px;
        grid-column-gap: 30px;
        grid-row-gap: 60px;
        text-align: center;
        margin-bottom: 100px;
    }
}
@media(max-width:920px){
    body{
        background-color: tomato;

    }
    h1{
        font-size: 25px;
    }

}
@media(max-width:800px){
    body{
        background-color: yellow;
    }
    .main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 500px 500px 500px;
        grid-column-gap: 30px;
        grid-row-gap: 60px;
        text-align: center;
        margin-bottom: 100px;
    }
    h1{
        font-size: 18px;
    }


}
@media(max-width:500px){
    body{
        background-color: cornflowerblue;
    }
    h1{
        font-size: 13px;
    }
}


